# CORONA DATASET

## CONFIRMED -- DATA REQUEST

In [577]:
import requests

#CURRENT LIFE UPDATES 
CONFIRMED_URL = 'https://api.covid19api.com/live/country/us/status/confirmed/date/2020-04-01T00:00:00Z'

#Total cases per province by the day. 
URL_LIVE = 'https://api.covid19api.com/live/country/us/status/confirmed'

#Total aggregated confirmed by the day.
URL_TOTAL = 'https://api.covid19api.com/total/country/us/status/confirmed'


response = requests.get(CONFIRMED_URL)
data = response.json()

## VIEW DATA

#### FIRST 5 ROWS

In [578]:
import pandas as pd
df = pd.DataFrame(data=data)
df.head()

,Country,Province,Lat,Lon,Date,Cases,Status
0,US,South Dakota,44.2998,-99.4388,2020-04-01T00:52:49Z,108,confirmed
1,US,Colorado,39.0598,-105.3110,2020-04-01T00:52:49Z,2966,confirmed
2,US,New Jersey,40.2989,-74.5210,2020-04-01T00:52:49Z,18696,confirmed
3,US,Guam,13.4443,144.7940,2020-04-01T00:52:49Z,69,confirmed
4,US,Washington,47.4009,-121.4900,2020-04-01T00:52:49Z,5449,confirmed

#### LAST 5 ROWS

In [579]:
df.tail()

,Country,Province,Lat,Lon,Date,Cases,Status
1039,US,Wisconsin,44.2685,-89.6165,2020-04-01T21:58:49Z,1556,confirmed
1040,US,Kansas,38.5266,-96.7265,2020-04-01T21:58:49Z,485,confirmed
1041,US,Recovered,0.0000,0.0000,2020-04-01T21:58:49Z,0,confirmed
1042,US,Connecticut,41.5978,-72.7554,2020-04-01T21:58:49Z,3557,confirmed
1043,US,Virgin Islands,18.3358,-64.8963,2020-04-01T21:58:49Z,30,confirmed

### CLEAN DATA

#### REMOVE ANY ROWS WITH `NAN` VALUES

In [580]:
df = df.dropna(how='any')
df = df[df.Province != 'Recovered']
df

,Country,Province,Lat,Lon,Date,Cases,Status
0,US,South Dakota,44.2998,-99.4388,2020-04-01T00:52:49Z,108,confirmed
1,US,Colorado,39.0598,-105.3110,2020-04-01T00:52:49Z,2966,confirmed
2,US,New Jersey,40.2989,-74.5210,2020-04-01T00:52:49Z,18696,confirmed
3,US,Guam,13.4443,144.7940,2020-04-01T00:52:49Z,69,confirmed
4,US,Washington,47.4009,-121.4900,2020-04-01T00:52:49Z,5449,confirmed
...,...,...,...,...,...,...,...
1038,US,Texas,31.0545,-97.5635,2020-04-01T21:58:49Z,4355,confirmed
1039,US,Wisconsin,44.2685,-89.6165,2020-04-01T21:58:49Z,1556,confirmed
1040,US,Kansas,38.5266,-96.7265,2020-04-01T21:58:49Z,485,confirmed
1042,US,Connecticut,41.5978,-72.7554,2020-04-01T21:58:49Z,3557,confirmed
1043,US,Virgin Islands,18.3358,-64.8963,2020-04-01T21:58:49Z,30,confirmed

####  CONVERT TIME TO UTC?

In [581]:
from datetime import datetime

time_format = "%Y-%m-%dT%H:%M:%SZ"
confirmed_date = [datetime.strptime(t, time_format) for t in df['Date']]

df['Date'] = pd.to_datetime(confirmed_date, errors='coerce').tz_localize('UTC').tz_convert('US/Pacific')
df = df.dropna(subset=['Date'])
df

,Country,Province,Lat,Lon,Date,Cases,Status
0,US,South Dakota,44.2998,-99.4388,2020-03-31 17:52:49-07:00,108,confirmed
1,US,Colorado,39.0598,-105.3110,2020-03-31 17:52:49-07:00,2966,confirmed
2,US,New Jersey,40.2989,-74.5210,2020-03-31 17:52:49-07:00,18696,confirmed
3,US,Guam,13.4443,144.7940,2020-03-31 17:52:49-07:00,69,confirmed
4,US,Washington,47.4009,-121.4900,2020-03-31 17:52:49-07:00,5449,confirmed
...,...,...,...,...,...,...,...
1038,US,Texas,31.0545,-97.5635,2020-04-01 14:58:49-07:00,4355,confirmed
1039,US,Wisconsin,44.2685,-89.6165,2020-04-01 14:58:49-07:00,1556,confirmed
1040,US,Kansas,38.5266,-96.7265,2020-04-01 14:58:49-07:00,485,confirmed
1042,US,Connecticut,41.5978,-72.7554,2020-04-01 14:58:49-07:00,3557,confirmed
1043,US,Virgin Islands,18.3358,-64.8963,2020-04-01 14:58:49-07:00,30,confirmed

#### GET AVERAGE CASE PER STATE

In [582]:
df[['Province','Cases']].groupby('Province').mean()

                                 Cases
Province
Alabama                    1004.444444
Alaska                      131.277778
Arizona                    1329.555556
Arkansas                    560.666667
California                 8617.833333
Colorado                   2969.222222
Connecticut                3151.833333
Delaware                    321.722222
Diamond Princess             49.000000
District of Columbia        518.166667
Florida                    6764.833333
Georgia                    4206.611111
Grand Princess              103.000000
Guam                         72.111111
Hawaii                      223.666667
Idaho                       526.333333
Illinois                   6051.444444
Indiana                    2270.777778
Iowa                        505.333333
Kansas                      445.388889
Kentucky                    631.555556
Louisiana                  5368.888889
Maine                       303.000000
Maryland                   1768.666667
Massachusetts              6682.111111
Michigan                   7803.888889
Minnesota                   635.666667
Mississippi                 967.222222
Missouri                   1419.000000
Montana                     200.777778
Nebraska                    178.555556
Nevada                     1144.944444
New Hampshire               358.111111
New Jersey                19506.444444
New Mexico                  318.500000
New York                  77768.500000
North Carolina             1573.222222
North Dakota                127.111111
Northern Mariana Islands      3.555556
Ohio                       2237.666667
Oklahoma                    593.500000
Oregon                      693.222222
Pennsylvania               5113.666667
Puerto Rico                 257.277778
Rhode Island                496.666667
South Carolina             1094.666667
South Dakota                112.666667
Tennessee                  2444.944444
Texas                      3969.666667
Utah                        888.000000
Vermont                     297.666667
Virgin Islands               30.000000
Virginia                   1314.000000
Washington                 5472.777778
West Virginia               163.611111
Wisconsin                  1441.388889
Wyoming                     121.055556

## RECOVERED -- DATA REQUEST

In [583]:
RECOVERED_URL = 'https://api.covid19api.com/live/country/us/status/recovered/date/2020-04-01T00:00:00Z'
recovered_response = requests.get(RECOVERED_URL)
recovered_data = response.json()

#### FIRST 5 ROWS

In [584]:
import pandas as pd
rf = pd.DataFrame(data=recovered_data)
rf.head()

,Country,Province,Lat,Lon,Date,Cases,Status
0,US,South Dakota,44.2998,-99.4388,2020-04-01T00:52:49Z,108,confirmed
1,US,Colorado,39.0598,-105.3110,2020-04-01T00:52:49Z,2966,confirmed
2,US,New Jersey,40.2989,-74.5210,2020-04-01T00:52:49Z,18696,confirmed
3,US,Guam,13.4443,144.7940,2020-04-01T00:52:49Z,69,confirmed
4,US,Washington,47.4009,-121.4900,2020-04-01T00:52:49Z,5449,confirmed

#### LAST 5 ROWS

In [574]:
rf.tail()

,Country,Province,Lat,Lon,Date,Cases,Status
1039,US,Wisconsin,44.2685,-89.6165,2020-04-01T21:58:49Z,1556,confirmed
1040,US,Kansas,38.5266,-96.7265,2020-04-01T21:58:49Z,485,confirmed
1041,US,Recovered,0.0000,0.0000,2020-04-01T21:58:49Z,0,confirmed
1042,US,Connecticut,41.5978,-72.7554,2020-04-01T21:58:49Z,3557,confirmed
1043,US,Virgin Islands,18.3358,-64.8963,2020-04-01T21:58:49Z,30,confirmed

### CLEAN DATA

In [567]:
rf = rf.dropna(how='any')
rf = rf[rf.Province != 'Recovered']
rf

,Country,Province,Lat,Lon,Date,Cases,Status
0,US,South Dakota,44.2998,-99.4388,2020-04-01T00:52:49Z,108,confirmed
1,US,Colorado,39.0598,-105.3110,2020-04-01T00:52:49Z,2966,confirmed
2,US,New Jersey,40.2989,-74.5210,2020-04-01T00:52:49Z,18696,confirmed
3,US,Guam,13.4443,144.7940,2020-04-01T00:52:49Z,69,confirmed
4,US,Washington,47.4009,-121.4900,2020-04-01T00:52:49Z,5449,confirmed
...,...,...,...,...,...,...,...
1038,US,Texas,31.0545,-97.5635,2020-04-01T21:58:49Z,4355,confirmed
1039,US,Wisconsin,44.2685,-89.6165,2020-04-01T21:58:49Z,1556,confirmed
1040,US,Kansas,38.5266,-96.7265,2020-04-01T21:58:49Z,485,confirmed
1042,US,Connecticut,41.5978,-72.7554,2020-04-01T21:58:49Z,3557,confirmed
1043,US,Virgin Islands,18.3358,-64.8963,2020-04-01T21:58:49Z,30,confirmed

In [571]:
time_format = "%Y-%m-%dT%H:%M:%SZ"
recovered_date = [datetime.strptime(t, time_format) for t in rf['Date']]

rf['Date'] = pd.to_datetime(recovered_date, errors='coerce').tz_localize('UTC').tz_convert('US/Pacific')
rf = rf.dropna(subset=['Date'])
rf

TypeError: strptime() argument 1 must be str, not Timestamp

#### GET AVERAGE

                                 Cases
Province
Alabama                    1004.444444
Alaska                      131.277778
Arizona                    1329.555556
Arkansas                    560.666667
California                 8617.833333
Colorado                   2969.222222
Connecticut                3151.833333
Delaware                    321.722222
Diamond Princess             49.000000
District of Columbia        518.166667
Florida                    6764.833333
Georgia                    4206.611111
Grand Princess              103.000000
Guam                         72.111111
Hawaii                      223.666667
Idaho                       526.333333
Illinois                   6051.444444
Indiana                    2270.777778
Iowa                        505.333333
Kansas                      445.388889
Kentucky                    631.555556
Louisiana                  5368.888889
Maine                       303.000000
Maryland                   1768.666667
Massachusetts              6682.111111
Michigan                   7803.888889
Minnesota                   635.666667
Mississippi                 967.222222
Missouri                   1419.000000
Montana                     200.777778
Nebraska                    178.555556
Nevada                     1144.944444
New Hampshire               358.111111
New Jersey                19506.444444
New Mexico                  318.500000
New York                  77768.500000
North Carolina             1573.222222
North Dakota                127.111111
Northern Mariana Islands      3.555556
Ohio                       2237.666667
Oklahoma                    593.500000
Oregon                      693.222222
Pennsylvania               5113.666667
Puerto Rico                 257.277778
Rhode Island                496.666667
South Carolina             1094.666667
South Dakota                112.666667
Tennessee                  2444.944444
Texas                      3969.666667
Utah                        888.000000
Vermont                     297.666667
Virgin Islands               30.000000
Virginia                   1314.000000
Washington                 5472.777778
West Virginia               163.611111
Wisconsin                  1441.388889
Wyoming                     121.055556

In [ ]:
## DEATH -- DATA REQUEST